# Set default line endings for text files to 'lf' (Unix-style)
* text=auto eol=lf

# Explicitly set line endings for specific files
/mvnw text eol=lf
*.cmd text eol=crlf
*.bat text eol=crlf # Tambahan: jika ada file .bat

# Mark binary files to prevent Git from trying to merge them
*.jar binary
*.war binary
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
*.ico binary
*.pdf binary
*.xlsx binary
*.docx binary
*.pptx binary

# Mark certain files as text with specific encodings if necessary
# *.properties text charset=UTF-8